# Backend
backend/iptables.db
backend/server

# Frontend
frontend/node_modules
frontend/build
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
